body {
    font-family: 'Quicksand', sans-serif; 
        background-image: url("navybg.jpg") ;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-color: #999;
        max-height: 100%;
    
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 390px;
    padding-top: 10px;
  }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .flex-container > .card-holder {
    background-color: #f1f1f1;
    width: 250px;
    margin: 10px;
    text-align: center;
  }


  .container {
    width: 250px;
    min-width: 250px;
    background: silver;
    align-content: center;
    margin: auto;
    height: 300px;
    padding-top: 20px;
    border: 2px solid navy;
}

h1 {
    text-align: center;
    color: goldenrod;
}

.profile-picture-holder {
    width: 175px;
    height: 175px;
    background: whitesmoke;
    border: 2px solid rgb(5, 1, 44);
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.profile-info-holder {
    color: navy;
    text-align: center;

}

.name-holder {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    
}

.card-picture {
    object-fit: cover;
    width: 175px;
    height: 175px;
    
}